[user]
	email = walkerm930@gmail.com
	name = Matthew J.P. Walker
[push]
	default = simple
[alias]
	st = status
	diffc = diff --cached
	loga = log --graph --oneline --all
	stashk = shash --keep-index
[core]
	excludesfile = /home/matt/.gitignore_global
[gui]
	warndetachedcommit = true
	spellingdictionary = none
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4
[rerere]
	enabled = true
