# ignore everything
/*

# except dotfiles
!/.**/**

# however still don't include these ones
**/ImagemagickOpenCLDeviceProfile
*.jad
*.jar
*.lock
*.log
*.log.*
*.tbcache
*~

/.adobe/Flash_Player
/.altera.monitor_program/
/.altera.quartus/
/.altera.sbt4e/
/.android
/.android/adbkey
/.android/cache/*
/.AndroidStudio*
/.anyRemote
/.anyRemote/*
/.arduino15
/.atom
/.audacity-data
/.autorandr
/.bash_history
/.bzr.log
/.cache
/.cargo/*package-cache
/.cargo/git
/.cargo/registry
/.certs
/.CLion*
/.cmake/packages
/.config/anjuta
/.config/Atom
/.config/aurman/
/.config/autostart
/.config/backintime
/.config/bomberrc
/.config/boost/config.json
/.config/boost/GPUCache
/.config/boost/Local Storage
/.config/bovorc
/.config/brasero
/.config/chromium
/.config/compiz-1
/.config/configstore/
/.config/Cutegram
/.config/Dassault Systemes/
/.config/dconf
/.config/discord
/.config/dleyna*
/.config/DraftSight
/.config/enchant
/.config/eog
/.config/epiphany
/.config/epiphany/*.db
/.config/epiphany/*.sqlite
/.config/epiphany/adblock/*
/.config/evince
/.config/evolution
/.config/flameshot/
/.config/font-manager
/.config/fontconfig
/.config/fontgroups.xml
/.config/FreeCAD/
/.config/gconf
/.config/gconf/apps/blueman/plugins/RecentConns/*
/.config/gconf/apps/blueman/sdp/*
/.config/gedit
/.config/Genymobile
/.config/GIMP/*
/.config/google-chrome
/.config/google-googletalkplugin
/.config/google-googletalkplugin/*port
/.config/granatierrc
/.config/gtk-2.0
/.config/gtk-3.0/bookmarks
/.config/gummi
/.config/guvcview*
/.config/icedtea-web/
/.config/icedtea-web/.appletTrustSettings
/.config/icedtea-web/security/*certs
/.config/inkscape
/.config/Intel VTune Profiler/
/.config/kapmanrc
/.config/katomicrc
/.config/kdeglobals
/.config/kgoldrunnerrc
/.config/kigorc
/.config/kminesrc
/.config/knetwalkrc
/.config/kolfrc
/.config/libreoffice/*
/.config/menus/applications-merged/*
/.config/mimeapps.list
/.config/mps-youtube
/.config/nautilus
/.config/obs-studio/
/.config/obs-studio/basic/profiles
/.config/obs-studio/basic/scenes
/.config/obs-studio/logs
/.config/obs-studio/plugin_config
/.config/obs-studio/profiler_data
/.config/octave
/.config/okularpartrc
/.config/okularrc
/.config/OpenSCAD/
/.config/PacaPong_2
/.config/pavucontrol*
/.config/PrusaSlicer/
/.config/pulse/*-default-*
/.config/pulse/*.tdb
/.config/pulse/cookie
/.config/pulseaudio-ctl
/.config/qmk/
/.config/QtProject.conf
/.config/rosegardenmusic/
/.config/rygel*
/.config/Skype
/.config/sublime-text-3
/.config/SWActivation/
/.config/totem
/.config/touchegg
/.config/transmission
/.config/transmission/*.dat*
/.config/transmission/resume/*
/.config/transmission/torrents/*
/.config/Trolltech.conf
/.config/Trolltech/
/.config/unity3d
/.config/Unknown Organization/
/.config/VCG/
/.config/VirtualBox/
/.config/VirtualBox/compreg.dat
/.config/VirtualBox/VirtualBox-1.12-linux.xml
/.config/VirtualBox/VirtualBox.xml
/.config/VirtualBox/VirtualBox.xml-prev
/.config/VirtualBox/xpti.dat
/.config/vlc
/.config/vmpk.sourceforge.net/
/.config/xournalpp
/.config/xournalpp/autosave
/.config/xournalpp/metadata
/.config/yelp
/.config/zoomus.conf
/.dbus
/.ddd
/.debug
/.dropbox-dist/
/.dropbox-master/
/.dropbox/
/.eclipse
/.electron
/.elinks
/.esd_auth
/.festival_history
/.festivalrc
/.fltk
/.fontpage
/.FreeCAD
/.Genymobile
/.gerix-wifi-cracker/*
/.gervil
/.gervill
/.ghc/ghci_history
/.gimp-*
/.gitk
/.gnome/apps/chrome-*.desktop
/.gnome2/accels
/.gnupg
/.gnupg/*.gpg
/.gnuplot_history
/.golly/GollyPrefs
/.golly/Rules/Primer.rule
/.gradle/caches
/.gradle/daemon
/.gradle/native
/.gradle/wrapper
/.gstreamer*/*
/.gsview*
/.gtk-bookmarks
/.hades
/.histfile
/.hplip
/.hte
/.hydrogen/hydrogen.conf
/.ICAClient/*
/.idlerc
/.intel/vtune
/.ipython
/.java
/.JSignPdf
/.jssc
/.jupyter
/.kde4/cache-*
/.kde4/share/apps/kfileplaces/*
/.kde4/share/apps/kgoldrunner/user/rec_tute.txt
/.kde4/share/apps/krdc/bookmarks.xml
/.kde4/share/apps/RecentDocuments/*
/.kde4/share/config/bluedevilreceiverrc
/.kde4/share/config/bomberrc
/.kde4/share/config/drkonqirc
/.kde4/share/config/granatierrc
/.kde4/share/config/kbouncerc
/.kde4/share/config/kbreakoutrc
/.kde4/share/config/kconf_updaterc
/.kde4/share/config/kcookiejarrc
/.kde4/share/config/kdebugrc
/.kde4/share/config/kdedrc
/.kde4/share/config/kdeglobals
/.kde4/share/config/kdiamondrc
/.kde4/share/config/kgoldrunnerrc
/.kde4/share/config/killbotsrc
/.kde4/share/config/kio_httprc
/.kde4/share/config/kioslaverc
/.kde4/share/config/klickety
/.kde4/share/config/klines
/.kde4/share/config/kmailrc
/.kde4/share/config/kmines
/.kde4/share/config/knetwalk
/.kde4/share/config/knfsshare
/.kde4/share/config/knoderc
/.kde4/share/config/kpat
/.kde4/share/config/krdcrc
/.kde4/share/config/kuriikwsfilterrc
/.kde4/share/config/kwalletrc
/.kde4/share/config/mailtransports
/.kde4/share/config/phonondevicesrc
/.kde4/share/config/umbrellorc
/.kde4/socket-*
/.kde4/tmp-*
/.keras/keras.json
/.lazarus
/.lesshst
/.links
/.linuxcounter
/.local/bin/
/.local/lib/python*
/.local/share/
/.local/share/.converted-launchers
/.local/share/applications/*.cache
/.local/share/applications/*.desktop
/.local/share/applications/mimeapps.list
/.local/share/applications/wine
/.local/share/backintime
/.local/share/desktop-directories
/.local/share/font-manager
/.local/share/fonts
/.local/share/gegl*
/.local/share/gvfs-metadata
/.local/share/icons
/.local/share/keyrings
/.local/share/libgda
/.local/share/meld/recent-*
/.local/share/mime
/.local/share/okular
/.local/share/rosegarden/examples
/.local/share/rosegarden/fonts
/.local/share/rosegarden/library
/.local/share/rosegarden/templates
/.local/share/systemd
/.local/share/telepathy
/.local/share/Trash
/.local/share/vlc
/.luahistory
/.m2
/.macromedia
/.mcedit
/.meshmixer
/.minecraft
/.modelio
/.modelsim*
/.mono
/.mozilla
/.mozilla-old
/.mplayer/config
/.mtab.fuseiso
/.ngnutmeg_history
/.npm
/.nv
/.nvidia-settings-rc
/.octave_hist
/.octoprint
/.oracle_jre*
/.pebble-sdk
/.pki
/.PlayOnLinux
/.pplq.rdb
/.praat-dir
/.pronsolerc*
/.python_history
/.qsys_edit
/.qt/qt_plugins_3.3rc
/.recently-used
/.remmina
/.rnd
/.sane
/.Skype
/.Slic3r
/.slocdata
/.sqlite_history
/.ssh/*
/.subversion
/.subversion/README.txt
/.swt
/.technic
/.texlive/**/fonts/*pk
/.thumbnails
/.thunderbird
/.tooling/gradle
/.vim/.netrwhist
/.viminfo
/.wget-hsts
/.wine
/.wine-pipelight
/.wine32
/.wireshark
/.Xauthority
/.xournal/config
/.xournal/recent-files
/.xournalpp/metadata.ini
/.yjp
/.zcompdump
/.zdirs
/.zenmap
/.ZombieGrinder/
/.zoom
/.zsh_history
/bin/bin
/bin/build
/bin/include
/bin/share

# but include these ones
!/.ssh/**/*.pub
!/.config/sublime-text-3/Installed Packages/*.sublime-package
!/.config/sublime-text-3/Packages/User/*.sublime-settings
!/bin
