# ignore everything
/*

# except dotfiles
!/.**/**

# however still don't include these ones
**/ImagemagickOpenCLDeviceProfile
*.jad
*.jar
*.lock
*.log
*.log.*
*.tbcache
*~

/.adobe/Flash_Player
/.altera.monitor_program/
/.altera.quartus/
/.altera.sbt4e/
/.android
/.android/adbkey
/.android/cache/*
/.AndroidStudio*
/.anyRemote
/.anyRemote/*
/.audacity-data
/.autorandr
/.bash_history
/.bzr.log
/.cache
/.certs
/.config/anjuta
/.config/autostart
/.config/backintime
/.config/brasero
/.config/chromium
/.config/compiz-1
/.config/Cutegram
/.config/dconf
/.config/dleyna*
/.config/enchant
/.config/eog
/.config/epiphany
/.config/epiphany/*.db
/.config/epiphany/*.sqlite
/.config/epiphany/adblock/*
/.config/evince
/.config/evolution
/.config/font-manager
/.config/fontconfig
/.config/fontgroups.xml
/.config/gconf
/.config/gconf/apps/blueman/plugins/RecentConns/*
/.config/gconf/apps/blueman/sdp/*
/.config/gedit
/.config/Genymobile
/.config/google-chrome
/.config/google-googletalkplugin
/.config/google-googletalkplugin/*port
/.config/gtk-2.0
/.config/gtk-3.0/bookmarks
/.config/gummi
/.config/guvcview*
/.config/icedtea-web/.appletTrustSettings
/.config/icedtea-web/security/*certs
/.config/inkscape
/.config/libreoffice/*
/.config/menus/applications-merged/*
/.config/mimeapps.list
/.config/nautilus
/.config/octave
/.config/PacaPong_2
/.config/pavucontrol*
/.config/pulse/*-default-*
/.config/pulse/*.tdb
/.config/pulse/cookie
/.config/pulseaudio-ctl
/.config/rygel*
/.config/Skype
/.config/sublime-text-3
/.config/totem
/.config/touchegg
/.config/transmission
/.config/transmission/*.dat*
/.config/transmission/resume/*
/.config/transmission/torrents/*
/.config/Trolltech.conf
/.config/unity3d
/.config/VirtualBox/compreg.dat
/.config/VirtualBox/VirtualBox-1.12-linux.xml
/.config/VirtualBox/VirtualBox.xml
/.config/VirtualBox/VirtualBox.xml-prev
/.config/VirtualBox/xpti.dat
/.config/vlc
/.config/yelp
/.dbus
/.ddd
/.debug
/.dropbox-dist/
/.dropbox-master/
/.dropbox/
/.eclipse
/.elinks
/.esd_auth
/.festival_history
/.festivalrc
/.fltk
/.fontpage
/.Genymobile
/.gerix-wifi-cracker/*
/.ghc/ghci_history
/.gimp-*
/.gitk
/.gnome/apps/chrome-*.desktop
/.gnome2/accels
/.gnupg
/.gnupg/*.gpg
/.gnuplot_history
/.gstreamer*/*
/.gsview*
/.gtk-bookmarks
/.hades
/.histfile
/.hplip
/.hte
/.ICAClient/*
/.idlerc
/.ipython
/.java
/.JSignPdf
/.jupyter
/.kde4/cache-*
/.kde4/share/apps/kfileplaces/*
/.kde4/share/apps/kgoldrunner/user/rec_tute.txt
/.kde4/share/apps/krdc/bookmarks.xml
/.kde4/share/apps/RecentDocuments/*
/.kde4/share/config/bluedevilreceiverrc
/.kde4/share/config/bomberrc
/.kde4/share/config/drkonqirc
/.kde4/share/config/granatierrc
/.kde4/share/config/kbouncerc
/.kde4/share/config/kbreakoutrc
/.kde4/share/config/kconf_updaterc
/.kde4/share/config/kcookiejarrc
/.kde4/share/config/kdebugrc
/.kde4/share/config/kdedrc
/.kde4/share/config/kdeglobals
/.kde4/share/config/kdiamondrc
/.kde4/share/config/kgoldrunnerrc
/.kde4/share/config/killbotsrc
/.kde4/share/config/kio_httprc
/.kde4/share/config/kioslaverc
/.kde4/share/config/klickety
/.kde4/share/config/klines
/.kde4/share/config/kmailrc
/.kde4/share/config/kmines
/.kde4/share/config/knetwalk
/.kde4/share/config/knfsshare
/.kde4/share/config/knoderc
/.kde4/share/config/kpat
/.kde4/share/config/krdcrc
/.kde4/share/config/kuriikwsfilterrc
/.kde4/share/config/kwalletrc
/.kde4/share/config/mailtransports
/.kde4/share/config/phonondevicesrc
/.kde4/share/config/umbrellorc
/.kde4/socket-*
/.kde4/tmp-*
/.lazarus
/.lesshst
/.links
/.linuxcounter
/.local/share/.converted-launchers
/.local/share/applications/*.cache
/.local/share/applications/*.desktop
/.local/share/applications/mimeapps.list
/.local/share/applications/wine
/.local/share/backintime
/.local/share/desktop-directories
/.local/share/font-manager
/.local/share/fonts
/.local/share/gegl*
/.local/share/keyrings
/.local/share/libgda
/.local/share/systemd
/.local/share/telepathy
/.local/share/vlc
/.luahistory
/.macromedia
/.minecraft
/.modelio
/.modelsim*
/.mozilla
/.ngnutmeg_history
/.nv
/.octave_hist
/.pki
/.pplq.rdb
/.python_history
/.qsys_edit
/.qt/qt_plugins_3.3rc
/.remmina
/.rnd
/.sane
/.Skype
/.slocdata
/.ssh/*
/.subversion
/.subversion/README.txt
/.swt
/.technic
/.texlive/**/fonts/*pk
/.thumbnails
/.thunderbird
/.vim/.netrwhist
/.viminfo
/.wget-hsts
/.wine
/.wine-pipelight
/.wireshark
/.Xauthority
/.xournal/config
/.xournal/recent-files
/.zcompdump
/.zdirs
/.zenmap
/.ZombieGrinder/
/.zsh_history

# but include these ones
!/.ssh/**/*.pub
!/.config/sublime-text-3/Installed Packages/*.sublime-package
!/.config/sublime-text-3/Packages/User/*.sublime-settings
